body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #abd1e7;
    background-color: #fcfaf2;
 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 500px;
    padding: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #acdeab;
    background-color: #acdeab;
    color:  white
    ;
}
